.characterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.charhead {
  display: flex;
  flex-direction: column;
}

.charboxes {
  display: flex;
  justify-content: center;
  align-items: space-between;
  margin-top: 10%;
}

.charbox {
  width: 150px;
  height: 150px;
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
}

.charbox:hover {
  transform: scale(1.2);
}

.chosenCard {
  border: 5px solid black;
}

.selection-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection-left {
  display: flex;
  justify-content: center;
  padding: 5% 0 5% 0;
}

.selection-list {
  list-style-type: none;
}