.quizcontainer {
  width: 530px;
  height: 110%;
  max-width: 90%;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}
#question {
  margin-bottom: 15px;
}
.quizimg {
  margin: 10px;
  height: 280px;
  margin-bottom: 20px;
}

.answer-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.answbtn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 50px;
  margin: 20px 0;
}

.answbtn {
  border: 2px solid #74c5d9c4;
  background-color: #74c5d942;
  margin: 3px;
  border-radius: 20px;
  padding: 4px;
  margin: 2px;
  font-size: 16px;
}

.answbtn:hover {
  border-color: #07527f;
}

.answbtn.correct {
  background-color: green;
}

.answbtn.wrong {
  background-color: red;
}

.choice-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.score-section {
  /* border: 1px solid #74c5d9c4;
  background-color: #74c5d942; */
  border-radius: 5px;
  padding: 30px;
  width: 80%;
  margin-bottom: 60px;
  box-shadow: -50px -50px 10px -40px #74c5d942, 50px 50px 10px -40px #74c5d942;
}
.trophy {
  font-size: 16px;
}
.explanation_section {
  display: flex;
  flex-direction: column;
  background-image: url(../../Images/oceanframe.png);
  background-position: center;
  background-repeat: no-repeat;
}

.quiz-done {
  display: flex;
  margin-top: 50px;
}
