* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  border: 3px solid #010124;
  width: 1200px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../../Images/oceanwithplastic.png);
  background-size: cover;
  background-position: center top;
  overflow: hidden;
}

/* html {
  background: url(../../Images/oceanwithplastic.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
} */

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  background: #6699ff0e;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.103);
  transition: 500ms;
}

.waves::before,
.waves::after {
  content: "";
  position: absolute;
  width: 200vw;
  height: 300vh;
  top: -165vw;
  left: 50%;
  border-radius: 44%;
  transform: translate(-50%, -75%);
}

.waves::before {
  background: rgba(51, 51, 51, 0.082);
  animation: waves 8s linear infinite;
}

.waves::after {
  background: rgba(51, 51, 51, 0.062);
  animation: waves 15s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
