* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

element.style {
  height: 100%;
}

.wrapper {
  border: 3px solid #010124;
  width: 1200px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../../Images/oceanwithplastic.png);
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

html {
  background-color: #00bfff70;
}

.starting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 240px;
  gap: 20px;
}
.startbutton {
  font-size: 20px;
  border: 1px solid #ffbf00;
  background-color: #ffbf008a;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
}

.startbutton:hover {
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
  animation: slidebg 5s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
