@font-face {
  font-family: "playtime";
  src: local("playtime"), url("../src/Fonts/playtime.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "playtime";
}

.App {
  overflow: hidden;
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

img {
  max-width: 100%;
  max-height: 400px;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

.main-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 83%;
  margin-top: 30px;
  padding-top: 30px;
  padding-right: 90px;
  padding-bottom: 110px;
  padding-left: 70px;
}

.left-page {
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 45%;
  padding: 20px;
}

.right-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 45%;
  padding: 20px;
}

.progress-button {
  position: absolute;
  bottom: 13%;
  right: 5%;
  border: none;
  background: none;
  color: #404040 !important;

  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.progress-button:hover {
  color: #ffffff !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: #404040;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

.next-button {
  color: transparent;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  height: 50px;
  width: 50px;
}

.prev-button {
  color: transparent;
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
  height: 50px;
  width: 50px;
}

.bottom-left {
  display: flex;
  align-items: center;
  width: 100%;
  height: 17%;
}

.right-container {
  position: relative;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.companion-frame {
  position: fixed;
  bottom: 35%;
  right: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 550px;
  margin-top: 1em;
}

.character-portrait {
  position: fixed;
  bottom: 5%;
  right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 1em;
  padding: 20px;
}

.portrait-img {
  position: absolute;
  left: 8px;
  top: 7px;
  width: 73%;
  height: 72%;
}

.game-screen {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.game-frame {
  width: 100%;
  height: 100%;
}

.startbutton {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.apple {
  position: absolute;
  top: -10px;
  right: -70px;
  max-width: 18%;
  transform: rotate(-45deg);
}

.pencil {
  position: absolute;
  width: 30%;
  bottom: -100px;
  left: 20%;
}

.restart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 100px 100px;
}

.restart-right {
  align-self: flex-end;
}
